/* #region hidden menu header */

header li, header .logo {
    border-bottom: none;
}

header li:hover, header .logo:hover {
    border-bottom: none;
} 


.links_header > li{
    position: relative;
    padding: 1rem;
}

.links_header > li:hover {
    background-color: var(--db-big-square);
}



.hidden_menu_why_dropbox, .hidden_menu_functions{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--db-big-square);
}

.hidden_menu_contacts {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--db-big-square);
}

li.why_dropbox:hover .hidden_menu_why_dropbox, li.functions:hover .hidden_menu_functions, li.contacts:hover .hidden_menu_contacts {
    display: flex;
}

.hidden_menu_col a, .hidden_menu_col strong {
    display: flex;
    padding: 1rem;
}

.hidden_menu_col {
    font-size: 0.75rem;
}

.hidden_menu_col ul li {
    min-width: 300px;
}

.hidden_menu_col li:hover a {
    background-color: grey;
}

/* #endregion hidden menu header */



/* #region login */

.container_login {
    width: calc(100% / 3);
    max-width: 700px;
    margin: auto;
    padding: 3rem;
}

.google, .apple {
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin-top: 2rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
}

.google:hover, .apple:hover {
    background-color: var(--db-big-square);
}

.google:hover a, .apple:hover a {
    color: black;
}


.enter a {
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 600;
}

.enter h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.or {
    margin: 3rem 0;
}

.or div::before{
    content: '';
    width: 30%;
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.25);
}
.or div::after{
    content: '';
    width: 30%;
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.25);
}

.or div {
    text-align: center;
}

.or span {
    padding: 1rem;
}

.sign_in .email div {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.75);
    padding-bottom: 0.5rem;
}

.sign_in .email input {
    width: 100%;
    height: 50px;
    transition: box-shadow 0.3s;
}

.sign_in .email input:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.sign_in  .btn_blue_big {
    margin-top: 2rem;
}
.sign_in  .btn_blue_big a {
    display: block;
}
/* #endregion login */