/* #region common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --db-black: rgb(0, 0, 0);
    --db-white: rgb(255, 255, 255);
    --db-light: rgb(245, 245, 245);
    --db-btn: rgb(0, 97, 255);
    --db-bg-jumbo: rgb(180, 208, 231);
    --db-business: rgb(97, 8, 43);
}

a {
    text-decoration: none;
}

/* #endregion common */



/* #region header */
nav li {
    padding: 1rem;
}
/* #endregion header */




/* #region utilities */
.d_flex {
    display: flex;
}

.space_between {
    justify-content: space-between;
}

.items_center {
    align-items: center;
}

.flex_end {
    justify-content: flex-end;
}

.unstyled_list {
    list-style: none;
}



.col_4 {
    width: calc(100% / 12 * 4);
}
/* #endregion utilities */



/* #region debug */
.debug header {
    background-color: red;
}

.debug main {
    height: 1000px;
    background-color: blue;
}

.debug footer {
    height: 400px;
    background-color: black;
}

.debug nav li {
    border: 1px dashed black;
}
/* #endregion debug */