/* #region common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --db-black: rgb(0, 0, 0);
    --db-white: rgb(255, 255, 255);
    --db-light: rgb(245, 245, 245);
    --db-btn: rgb(0, 97, 255);
    --db-bg-jumbo: rgb(180, 208, 231);
    --db-business: rgb(97, 8, 43);
}

a {
    text-decoration: none;
}

/* #endregion common */



/* #region header */

nav li {
    padding: 1rem;
}

/* #endregion header */



/* #region main */

/* section jumbo */
#jumbo {
    background-color: var(--db-bg-jumbo);
}

#jumbo_head {
    font-size: 2rem;
}

#jumbo_description, #jumbo_img {
    margin-top: 1rem;
}

#jumbo_description > div {
    padding-bottom: 1rem;
}

/* section planes */

#billing {
    gap: 2rem;
}
#billing > div {
    gap: 0.5rem;
    align-items: center;
}

#planes > div.container_centered {
    padding: 8rem;
}

#planes .row {
    gap: 2rem;
}

#planes #enterprise {
    margin-top: 2rem;
}

/* #endregion main */



/* #region utilities */
.d_flex {
    display: flex;
}

.space_between {
    justify-content: space-between;
}

.items_center {
    align-items: center;
}

.flex_end {
    justify-content: flex-end;
}

.text_center {
    text-align: center;
}

.unstyled_list {
    list-style: none;
}

.container_centered {
    width: 80%;
    max-width: 1170px;
    margin: auto;
}


.col_4 {
    width: calc(100% / 12 * 4);
}
.col_8 {
    width: calc(100% / 12 * 8);
}
/* #endregion utilities */



/* #region debug */
.debug header {
    background-color: red;
}

.debug main {
    min-height: 1000px;
    background-color: blue;
}

.debug footer {
    height: 400px;
    background-color: black;
}

.debug nav li {
    border: 1px dashed black;
}

.debug .container_centered {
    border: 1px dashed black;
    min-height: 200px;
}

.debug #jumbo_head {
    min-height: 50px;
    background-color: rgb(71, 71, 71);
}

.debug #jumbo_content {
    background-color: rgb(243, 101, 0);
    min-height: 200px;
}

.debug #jumbo_description, .debug #jumbo_img {
    background-color: yellow;
    min-height: 200px;
    border: 1px dashed black;
}

.debug #planes {
    background-color: bisque;
}

.debug #planes h3 {
    border: 1px dashed;
    font-size: 1.5rem;
}

.debug #billing > div {
    border: 1px dashed;
}

.debug #planes .row > .col_4 {
    min-height: 600px;
}

.debug #planes .col_4 > div {
    border: 1px dashed;
    padding: 1rem;
}

.debug #planes a {
    border: 1px dashed red;
    background-color: blue;
    color: white;
}

.debug [class^=col_] {
    border: 1px dashed;
    background-color: red;
}

.debug #enterprise {
    background-color: red;
}

/* #endregion debug */